.footer {
    position: relative;
    padding-top: 120px;
    padding-bottom: 15px;
    overflow: hidden;

    @media (max-width: 1024px) {
        padding-top: 60px;
        padding-bottom: 10px;
    }

    &:after {
        pointer-events: none;
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, $black 2%, rgba(0, 0, 0, 0) 100%);
    }

    &:has(.folter-line) {
        // &:before {
        //     position: absolute;
        //     content: '';
        //     left: 0;
        //     top: 0;
        //     height: 70px;
        //     width: 100%;
        //     background: linear-gradient(0deg, rgba($color: $black, $alpha: 0) 0%, $black 100%);
        //     z-index: 2;
        // }
    }

    .folter-line {
        top: 130px;
        height: calc(100% - 130px - 25px);

        position: absolute;
        z-index: 1;
        left: 50%;
        transform: translate(-50%, 0);
        width: 2px;
        background-color: $red;
        pointer-events: none;

        @media (max-width:1024px) {
            height: calc(100% - 70px - 25px);
            top: 70px;
        }
    }

    // .footer__bgi

    &__bgi {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;

        img,
        picture {
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            object-fit: cover;
        }
    }

    // .footer__container

    &__container {}

    // .footer__body

    &__body {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    // .footer__top

    &__top {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 60px;
        margin-bottom: 60px;

        @media (max-width: 768px) {
            gap: 45px;
            margin-bottom: 45px;
        }
    }

    // .footer__column

    &__column {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;

        @media (max-width: 768px) {
            align-items: center;

            * {
                text-align: center;
            }
        }

        ul {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        span,
        label {
            color: rgba($color: $white, $alpha: 0.25);
            font-size: 14px;
            line-height: 1;
            letter-spacing: -0.3px;
            text-transform: uppercase;
            text-align: center;
            display: block;

            @media (max-width: 768px) {
                letter-spacing: normal;
            }
        }
    }

    // .footer__navigation

    &__navigation {}

    // .footer__contacts

    &__contacts {
        gap: 30px;
        align-items: center;

        @media (max-width: 768px) {
            order: -1;
        }

        & > div {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;

            ul {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 30px;

                @media (max-width: 1024px) {
                    gap: 15px;
                }

                li {
                    display: flex;
                    align-items: center;
                    gap: 5px;

                    label {
                        margin-top: 2px;
                    }
                }
            }
        }
    }

    // .footer__services

    &__services {}

    // .footer__logo

    &__logo {
        position: relative;
        left: 1%;
        display: block;
        margin-top: 100px;
        margin-bottom: 160px;
        @include adaptive-value("width", 455, 138, 1);


        &:before {
            position: absolute;
            content: '';
            left: 50%;
            top: 50%;
            transform: translate(-55%, -55%);
            width: 50%;
            height: 75%;
            border-radius: 50%;
            z-index: -1;

            background-color: $black;
            box-shadow: 0px 0px 80px 40px $black;

            @media (max-width:1024px) {
                box-shadow: 0px 0px 60px 30px $black;
            }

            @media (max-width:768px) {
                box-shadow: 0px 0px 40px 20px $black;
            }
        }

        @media (max-width: 1024px) {
            margin-bottom: 100px;
            margin-top: 80px;
        }

        @media (max-width: 768px) {
            margin-top: 20px;
            margin-bottom: 60px;
            margin-left: 2%;
        }

        @media (max-width: 425px) {
            margin-left: 3%;
        }

        img,
        picture {
            pointer-events: none;
            height: 100%;
            object-fit: contain;
        }
    }

    // .footer__bottom

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        position: relative;
        padding: 2px 5px;

        &:before {
            position: absolute;
            content: '';
            left: 50%;
            transform: translate(-50%, 0);
            background-color: $red;
            top: 0;
            z-index: -1;
            width: 100vw;
            height: 100%;
        }

        * {
            width: 100%;
        }

        & > :nth-child(2) {
            text-align: center;
            font-size: 0.95em;
        }

        & > :last-child {
            text-align: right;
        }

        @media (max-width: 768px) {
            font-size: 14px;

            a {
                span {
                    display: none;
                }
            }
        }

    }

    ul a {
        font-size: 18px;
    }

    ._numbers {
        font-size: 14px;
    }

    a,
    span,
    label {
        white-space: nowrap;
    }

    a:not(.footer__logo) {
        transition: all 0.3s ease 0s;

        @media (any-hover: hover) {
            &:hover {
                opacity: 0.5;
            }
        }
    }
}