.menu {
    position: fixed;
    z-index: 16;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    height: 0;
    pointer-events: none;
    // transition: transform 1.2s cubic-bezier(0.16, 1.08, 0.38, 0.98);



    background-color: rgba($color: $black, $alpha: 0.75);
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);

    // background-image: url('@img/blur.png');
    // background-size: cover;
    // background-repeat: no-repeat;


    * {
        color: $white;
    }

    &._open {
        pointer-events: all;
    }

    [data-bottom] {
        top: -25px;
        opacity: 0;
    }

    [data-opacity] {
        opacity: 0;
    }

    // .menu__close

    &__close {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 3px;
        height: 30px;
        width: 50px;
        position: absolute;
        left: 10px;
        top: 10px;

        @media (max-width: 768px) {
            width: 30px;
        }

        display: none;

        span {
            display: block;
            width: 30px;
            height: 2px;
            background-color: $white;
            transition: all 0.3s ease 0s;
            position: absolute;
            left: 0;
            top: 50%;
            pointer-events: none;

            width: 50px;

            @media (max-width: 768px) {
                width: 30px;
            }
        }

        & > :first-child {
            transform: translate(0, -50%) rotate(45deg);
        }

        & > :last-child {
            transform: translate(0, -50%) rotate(-45deg);
        }
    }

    // .menu__body

    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        min-height: 100%;
        padding-bottom: 15px;

        position: relative;

        @media (max-width: 768px) {
            padding-bottom: 30px;
        }
    }

    // .menu-catalog

    &-catalog {
        display: block;
        text-align: center;
        width: fit-content;
        text-transform: uppercase;
        margin-inline: auto;
        margin-bottom: 15px;

        // opacity: 0.5;

        transition: opacity 0.3s ease 0s;
        pointer-events: all;

        // @include adaptive-value('font-size', 24, 15, 1);


        @media (any-hover: hover) {
            &:hover {
                opacity: 1 !important;
            }
        }
    }

    nav {
        padding: 45px 0;

        ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 15px;

            * {
                text-align: center;
            }

            li {
                a {
                    @include adaptive-value("font-size", 32, 18, 1);
                    font-weight: 400;
                    line-height: 100%;
                    letter-spacing: -0.3px;
                    text-transform: uppercase;

                    &[aria-current="page"] {
                        filter: blur(1px);
                        -webkit-filter: blur(1px);
                    }

                    @media (max-width: 768px) {
                        letter-spacing: normal;
                    }
                }
            }
        }
    }

    // .menu__search

    &__search {
        margin-bottom: 45px;
        width: 100%;
        max-width: 360px;
        margin-inline: auto;
    }

    // .menu__bottom

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;

        @media (max-width: 768px) {
            flex-direction: column;
            align-items: center;
            gap: 30px;
        }

        // .menu__bottom-column

        &-column {
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 100%;

            @media (max-width: 768px) {
                align-items: center;

                * {
                    text-align: center;
                }
            }

            span,
            label {
                color: rgba($color: $white, $alpha: 0.25);
                font-size: 14px;
                line-height: 1;
                letter-spacing: -0.3px;
                text-transform: uppercase;

                @media (max-width: 768px) {
                    letter-spacing: normal;
                }
            }

            ._numbers {
                font-size: 14px;
            }

            a {
                @media (max-width: 768px) {
                    font-size: 14px;
                }
            }
        }


        // .menu__bottom-navigation

        &-navigation {

            @media (max-width:768px) {
                order: 10;

                ul {
                    display: flex;
                    flex-direction: column-reverse;
                }
            }

            span {
                @include adaptive-value("font-size", 16, 14, 1);
            }

            a {
                @include adaptive-value("font-size", 20, 16, 1);
            }
        }

        // .menu__bottom-contacts

        &-contacts {
            gap: 30px;
            align-items: center;

            @media (max-width: 768px) {
                gap: 15px;
                order: -1;
            }

            & > div {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;

                ul {
                    display: flex;
                    align-items: center;
                    gap: 30px;

                    @media (max-width: 1024px) {
                        gap: 15px;
                    }

                    li {
                        display: flex;
                        align-items: center;
                        gap: 5px;
                    }
                }
            }
        }

        // .menu__bottom-services

        &-services {
            span {
                @include adaptive-value("font-size", 16, 14, 1);
            }

            a {
                @include adaptive-value("font-size", 20, 16, 1);
            }

            @media (min-width: 769px) {
                align-items: flex-end;

                a {
                    display: block;
                    width: 100%;
                    text-align: right;
                }
            }
        }

        ul li a[aria-current="page"] {
            filter: blur(1px);
            -webkit-filter: blur(1px);
        }
    }

    a,
    span,
    label {
        white-space: nowrap;
    }

    a {
        transition: all 0.3s ease 0s;

        @media (any-hover: hover) {
            &:hover {
                opacity: 0.5;
            }
        }
    }
}