.cart-item {
    overflow: hidden;

    // .cart-item__top

    &__top {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        width: 100%;
        gap: 15px;

        font-size: 16px;
        font-weight: 400;
        line-height: 1.2;
        letter-spacing: -0.3px;
        margin-bottom: 5px;

        @media (max-width: 768px) {
            font-size: 14px;
            letter-spacing: normal;
        }

        a {
            transition: opacity 0.3s ease 0s;

            @media (any-hover: hover) {
                &:hover {
                    opacity: 0.5;
                }
            }
        }

        span {
        }
    }

    // .cart-item__image

    &__image {
        display: block;
        width: 100%;
        padding-bottom: 100%;
        position: relative;

        &:after {
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($color: $black, $alpha: 0.2);
            pointer-events: none;
            transition: opacity 0.3s ease 0s;
        }

        img,
        picture {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            pointer-events: none;
            filter: grayscale(100%);
            transition: filter 0.3s ease 0s;
        }

        @media (any-hover: hover) {
            &:hover {
                &:after {
                    opacity: 0;
                }
                img,
                picture {
                    filter: grayscale(0);
                }
            }
        }
    }

    p {
        margin-top: 15px;
        display: -webkit-box;
        max-width: 75%;
        width: 100%;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        text-overflow: ellipsis;
        opacity: 0.5;
        overflow: hidden;

        @media (max-width: 1024px) {
            margin-top: 10px;
        }

        @media (max-width: 768px) {
            max-width: 100%;
        }
    }
}

.news-item {
    &:first-child p {
        @media (min-width: 769px) {
            max-width: 40%;
        }
    }
}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    position: relative;

    @media (max-width: 1024px) {
        gap: 10px;
    }

    * {
        text-align: center;
    }

    // .product-card__image

    &__image {
        @include adaptive-value("height", 345, 200, 1);
        width: 100%;
        overflow: hidden;

        img,
        picture {
            width: 100%;
            height: 100%;
            object-fit: cover;
            pointer-events: none;
            transition: transform 1.5s ease 0s;
        }

        @media (any-hover: hover) {
            &:hover {
                img,
                picture {
                    transform: scale(1.1);
                }
            }
        }
    }

    @media (any-hover: hover) {
        &:hover .add-to-cart {
            display: flex;
        }
    }

    .add-to-cart {
        position: absolute;
        top: 150px;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 1;

        background-color: $black;

        width: 40px;
        height: 40px;

        display: flex;
        align-items: center;
        justify-content: center;

        display: none;

        @media (any-hover: none) {
            display: flex;
        }

        @media (max-width: 768px) {
            width: 30px;
            display: flex;
            height: 30px;
        }

        img,
        svg {
            width: 14px;
            height: 14px;
            flex: 0 0 auto;
            pointer-events: none;

            @media (max-width: 768px) {
                width: 10px;
                height: 10px;
            }
        }
    }

    // .product-card__name

    &__name {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2px;
        transition: opacity 0.3s ease 0s;

        @media (any-hover: hover) {
            &:hover {
                opacity: 0.5;
            }
        }

        span {
            font-family: Felidae;
            font-size: 20px;
            line-height: 1;
            text-transform: uppercase;
            pointer-events: none;

            @media (max-width: 1024px) {
                font-size: 18px;
            }
        }

        label {
            pointer-events: none;
            opacity: 0.5;
            font-weight: 300;
        }
    }
}
