.product {
    .breadcrumb {
        margin-bottom: 60px;

        @media (max-width: 1024px) {
            margin-bottom: 30px;
        }
    }

    .breadcrumb,
    .aioseo-breadcrumbs {
        @media (min-width: 1025px) {
            justify-content: center;
        }
    }

    .grid-3 {
        gap: 60px 30px;

        @media (max-width: 1024px) {
            gap: 45px 20px;
        }

        @media (max-width: 768px) {
            gap: 30px;
        }
    }

    // .product__body

    &__body {
        margin-inline: auto;

        @media (min-width: 1025px) {
            max-width: 80%;
        }
    }

    // .product__name

    &__name {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 5px;
        margin-bottom: 30px;

        @media (max-width: 1024px) {
            margin-bottom: 15px;
        }

        h1,
        span {
            @include adaptive-value("font-size", 50, 18, 1);
            font-style: normal;
            font-weight: 300;
            line-height: 1;
            letter-spacing: -0.03px;
            text-transform: uppercase;

            @media (max-width: 1024px) {
                letter-spacing: normal;
            }
        }

        span {
            opacity: 0.5;
            display: block;
            margin-top: 0.25em;
        }
    }

    // .product__image

    &__image {
        width: 100%;
        position: relative;

        img,
        picture {
            width: 100%;
            height: auto;
        }
    }

    // .product__data

    &__data {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 0;
        border-bottom: 1px solid $red;
        margin-bottom: 30px;

        font-weight: 300;
        white-space: nowrap;

        @media (max-width: 1024px) {
            margin-bottom: 15px;
            padding: 10px 0;
        }

        @media (min-width: 769px) {
            & > :nth-child(3) {
                padding-right: 7.5px;
            }
        }


        span {
            flex: 0 0 auto;

            @media (min-width: 1025px) {
                &:first-child,
                &:nth-child(2) {
                    width: 23%;
                }

                &:nth-child(3) {
                    width: 4%;
                    text-align: right;
                }

                &:nth-child(4) {
                    text-align: center;
                    flex: 1 1 auto;
                }

                &:nth-child(5) {
                    text-align: right;
                }
            }

            &:nth-child(5) {
            }
        }
    }

    // .product__actions

    &__actions {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        gap: 15px;

        @media (max-width: 768px) {
            flex-direction: column;
            gap: 0px;
        }

        &-left,
        &-right {
            width: 100%;

            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 15px 0;
            border-bottom: 1px solid $red;

            @media (max-width: 1024px) {
                padding: 10px 0;

                ._label {
                    display: none;
                }
            }

            @media (max-width: 1024px) {
                ._product__price {
                    justify-content: flex-start;
                }
            }
        }

        // .product__actions-left

        &-left {
            ._label,
            ._product__price {
                @media (min-width: 1025px) {
                    flex: 0 0 auto;
                    width: 46%;
                }
            }

            .filter-fast {
                @media (min-width: 1025px) {
                    width: 8%;
                }
            }

            ._product__price {
                @media (min-width: 1025px) {
                    justify-content: flex-start;
                }
            }

            @media (max-width: 1024px) {
                ._product__price {
                    justify-content: center;
                }

                .filter-fast {
                    width: fit-content;
                }
            }
        }

        // .product__actions-right

        &-right {
            @media (max-width: 1024px) {
                display: flex;
                justify-content: space-between;

                ._product__price {
                    flex: 1 1 auto;
                }
            }

            .add-to-cart__block {
                display: flex;
                align-items: center;
                gap: 30px;
                justify-content: space-between;

                @media (max-width: 1024px) {
                    flex: 1 1 auto;
                    gap: 10px;
                }
            }

            .add-to-cart {
                position: relative;

                &:before {
                    position: absolute;
                    content: "";
                    right: 0;
                    top: calc(100% + 30px);
                    width: 40px;
                    height: 40px;
                    background-image: url("@img/icons/loading.svg");
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    pointer-events: none;
                    opacity: 0;
                }

                &.loading {
                    &:before {
                        opacity: 1;
                    }
                }
            }
        }
    }
}
