.product {
    .breadcrumb {
        margin-bottom: 60px;

        @media (max-width: 1024px) {
            margin-bottom: 30px;
        }
    }

    .breadcrumb,
    .aioseo-breadcrumbs {
        @media (min-width: 1025px) {
            justify-content: center;
        }
    }

    .grid-3 {
        gap: 60px 30px;

        @media (max-width: 1024px) {
            gap: 45px 20px;
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 600px) {
            gap: 30px;
            grid-template-columns: 1fr;
        }
    }

    // .product__body

    &__body {
        margin-inline: auto;

        @media (min-width: 1291px) {
            max-width: 80%;
        }
    }

    // .product__name

    &__name {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 5px;
        margin-bottom: 30px;

        @media (max-width: 1024px) {
            margin-bottom: 15px;
        }

        h1,
        span {
            @include adaptive-value("font-size", 50, 18, 1);
            font-style: normal;
            font-weight: 300;
            line-height: 1;
            letter-spacing: -0.03px;
            text-transform: uppercase;

            @media (max-width: 1024px) {
                letter-spacing: normal;
            }
        }

        span {
            opacity: 0.5;
            display: block;
            margin-top: 0.25em;
        }
    }

    // .product__image

    &__image {
        width: 100%;
        position: relative;

        img,
        picture {
            width: 100%;
            height: auto;
        }
    }

    // .product__data

    &__data {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 0;
        border-bottom: 1px solid $red;
        margin-bottom: 30px;

        font-weight: 300;
        white-space: nowrap;

        @media (max-width: 1024px) {
            margin-bottom: 15px;
            padding: 10px 0;
        }

        @media (min-width: 1025px) {
            & > :nth-child(3) {
                padding-right: 7.5px;
            }

            & > :nth-child(4) {
                padding-left: 7.5px;
            }
        }


        span {
            @media (min-width:1025px) {
                flex: 0 0 auto;
                width: calc(100% / 6);
            }
        }

        @media (min-width: 1025px) {
            & > :nth-child(2) {
                text-align: center;
            }

            & > :first-child,
            & > :nth-child(2) {
                // width: 23%;
            }

            & > :nth-child(3) {
                // width: 4%;
                text-align: right;
            }

            & > :nth-child(4) {
                // flex: 1 1 auto;
            }

            & > :nth-child(5) {
                // width: 23%;
                text-align: center;
            }

            & > :nth-child(6) {
                text-align: right;
            }
        }


    }

    // .product__actions

    &__actions {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        @media (min-width:1025px) {
            padding: 15px 0;
            border-bottom: 1px solid $red;
        }

        & > label,
        & > div,
        & > p {
            @media (min-width:1025px) {
                flex: 0 0 auto;
                width: calc(100% / 6);
            }

            @media (max-width:1024px) {
                padding: 10px 0;
                border-bottom: 1px solid $red;
            }
        }


        @media (min-width: 1025px) {
            & > :nth-child(3) {
                padding-right: 7.5px;
            }

            & > :nth-child(4) {
                padding-left: 7.5px;
            }
        }

        ._label {
            opacity: 1;
            color: rgba($color: $white, $alpha: 0.5);
        }

        @media (max-width: 1024px) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            ._label {
                // display: none;
            }

            ._product__price {
                justify-content: flex-start;
            }
        }





        & > :nth-child(5) {
            @media (min-width:1025px) {
                width: fit-content;
                margin-inline: auto;
            }
        }

        .add-to-cart__block {
            display: flex;
            align-items: center;
            gap: 30px;
            justify-content: flex-end;

            white-space: nowrap;


            @media (min-width:1025px) {
                min-width: 17%;
            }

            @media (max-width:1440px) {
                gap: 15px;
            }

            @media (max-width: 1024px) {
                gap: 30px;
            }

        }

        &:has(.loading) .add-to-cart:before {
            opacity: 1;
        }

        .add-to-cart {
            position: relative;

            &:before {
                position: absolute;
                content: "";
                right: 0;
                top: calc(100% + 30px);
                width: 40px;
                height: 40px;
                background-image: url("@img/icons/loading.svg");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                pointer-events: none;
                opacity: 0;
            }

            &.loading {
                &:before {
                    opacity: 1;
                }
            }

            span {
                pointer-events: none;
            }

            .not-in-cart {}

            .in-cart {
                position: absolute;
                right: 0;
                opacity: 0;
            }
        }
    }

    &.added {

        .product__actions .add-to-cart {

            .not-in-cart {
                opacity: 0;
            }

            .in-cart {
                opacity: 1;
            }
        }

    }
}

.single-product {
    ._text-description__body {
        max-height: unset;
        overflow: unset;
    }
}